.hide{
    display: none !important;
}

/* for small device  */
@media  screen and (max-width:576px) {
    header .container nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .nav-manu {
    padding: 20px 0px;
    }
    .list-item {
    gap: 10px;
    flex-wrap: wrap;
    }
    .hero-content {
    text-align: center;
    padding: 0px 20px;
    }
    .hero-title {
    font-size: 2.5rem;
    }
    .hero-description {
    margin-top: 20px;
    }
    .hero-btn {
    padding: 10px 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    }
    .hero-banner-img {
    max-width: 100%;
    margin-bottom: 25px;
    padding: 0px 20px;
    }
    .features-section {
    flex-direction: column;
    gap: 50px;
    margin: 30px 20px 30px;
    }
    .img-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
    }
    .features-section .img-card img{
        width: 100%;
    }
    .features-description {
    margin: 20px 0px;
    padding-right: 30px;
    }
    .features-btn {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    }
    .features-content h1 {
    font-size: 1.5rem;
    }
    .features-main-card {
    flex-direction: column;
    gap: 30px;
    padding: 0px 20px;
    }
    .left-card-section h1 {
    font-size: 1.5rem;
    border-left: 3px solid #FF900E;
    padding-right: 40px;
    }
    .f-card {
    padding: 16px;
    }
    .left-card-section {
    padding-right: 0px;
}
    .right-section img{
        width: 100%;
    }
    .experience-btn {
        padding: 20px;
    }
    .btn-flex{
        justify-content: center;
    }
    .experience-btn h1 {
        font-size: 2rem;
        font-weight: 700;
    }


}    
/* for small device  */