.hide{
    display: none !important;
}

/* for mobile device  */
@media  screen and (max-width:576px) {
    header .container nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .nav-manu {
    padding: 20px 0px;
    }
    .list-item {
    margin-top: 15px;
    gap: 10px;
    flex-wrap: wrap;
    }
    .hero-content {
    text-align: center;
    padding: 0px 20px;
    }
    .hero-title {
    font-size: 2.5rem;
    }
    .hero-description {
    margin-top: 20px;
    }
    .hero-btn {
    padding: 10px 15px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    }
    .hero-banner-img {
    max-width: 100%;
    margin-bottom: 25px;
    padding: 0px 20px;
    }
    .features-section {
    flex-direction: column;
    gap: 50px;
    margin: 30px 20px 30px;
    }
    .img-card {
    grid-template-columns: repeat(1, 1fr);
    gap: 14px;
    }
    .features-section .img-card img{
        width: 100%;
    }
    .features-description {
    margin: 20px 0px;
    padding-right: 30px;
    }
    .features-btn {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
    }
    .features-content h1 {
    font-size: 1.5rem;
    }
    .features-main-card {
    flex-direction: column;
    gap: 30px;
    padding: 0px 20px;
    }
    .left-card-section h1 {
    font-size: 1.5rem;
    border-left: 3px solid #FF900E;
    padding-right: 40px;
    }
    .f-card {
    padding: 16px;
    }
    .left-card-section {
    padding-right: 0px;
}
    .right-section img{
        width: 100%;
    }
    .experience-btn {
        padding: 20px;
    }
    .btn-flex{
        justify-content: center;
    }
    .experience-btn h1 {
        font-size: 2rem;
        font-weight: 700;
    }
    .fact-section {
        margin-top: 30px;
        padding: 0px 20px;
    }
    .fact-section h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    .fact-card {
        margin-top: 30px;
        gap: 20px;
        flex-direction: column;
        margin: 20px 40px;
    }
    .fact-main-card {
        padding: 5px;
    }
    .fact-section p {
        max-width: 80%;
    }
    .sponspors{
        padding: 0px 20px;
    }
    .sponspors-content-section {
        margin-top: 20px;
    }
    .sponspors-img-section {
        gap: 40px;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }
    .sponspors-img-section img{
        width: 40%;
    }
    .sponspors-content-section h1 {
        font-size: 2rem;
    }
    #footer-section {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    footer {
        padding: 10px;
    }

}
/* for mobile device  */

/* for big mobile  */
@media screen and (min-width:576px) and (max-width:768px){
    .head-content{
        padding: 0px 30px;
    }
    .nav-manu {
        padding: 20px 0px;
    }
    .list-item {
        gap: 8px;
    }
    .nav-title {
        font-size: 1.75rem;
    }
    .hero-title {
        font-size: 2.75rem;
    }
    .hero-content {
        padding: 10px 50px;
    }
    .features-section {
        gap: 30px;
        margin: 35px 30px 10px;
        flex-direction: column;
    }
    .features-btn {
        padding: 20px 25px;
        margin-top: 0px;
    }
    .features-description {
        margin: 18px 0px;
        padding-right: 50px;
    }
    .img-card {
        gap: 15px;
    }
    .img-card img{
        max-width: 100%;
    }
    .features-main-card{
        padding: 30px 30px;
        flex-direction: column;
    }
    .right-section img{
        max-width: 100%;
    }
    .btn-flex{
        justify-content: center;
    }
    .experience-btn {
        padding: 25px;
        margin-top: -70px;
    }
    .experience-btn h1 {
        font-size: 2.5rem;
    }
    .fact-section {
        margin-top: 0px;
        padding: 30px 30px;
    }
    .fact-section p {
        max-width: 80%;
    }
    .fact-card {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 18px;
    
    }
    .sponspors-content-section {
        margin-top: 30px;
    }
    .sponspors{
        padding: 0px 30px;
    }
    .sponspors-img-section {
        gap: 80px;
        margin-top: 30px;
        flex-wrap: wrap;
    }
    #footer-section {
        margin-top: 35px;
    }
    footer{
        padding: 15px;
    }


}
/* for big mobile  */

